.pictures .image {
	display:flex;
	align-items: center;
	background: black;
	padding:1rem;
}
.pictures img {
	width:100%;
	height:auto;
	max-height: 300px;
	cursor: pointer;
}
.pictures img:hover {
	border: 1px solid yellow;
}